@use '../../../assets/css/mixins/typography.scss';
@use '../../../assets/css/breakpoints.scss';

.wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.clock-icon {
	$icon-size: .8em;
	
	background-image: url('../../../assets/images/clock-icon.png');
	background-size: cover;
	width: $icon-size;
	height: $icon-size;
	@include typography.responsive-title-font
}

.card {
	width: 100%;
	max-width: 21rem;

	@media (max-width: breakpoints.$breakpoint-tablet) {
		max-width: 16.2rem;
		min-width: 12.375rem;
	}
}

.weekdays-list {
	display: flex;
	flex-wrap: wrap;
}
