@use '../../../../../assets/css/colors';
@use '../../../../../assets/css/mixins/typography';

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include typography.responsive-font-size(1.375rem, 1rem);
	padding: .45em 0;
	width: 100%;
	border-bottom: .09em solid colors.$base-color-grey;
}

.weekday {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex: 1;

	&-label {
		text-transform: capitalize;
		font-weight: 500;
		margin-right: 0.65em;
	}
}

.today-tag {
	color: colors.$base-color-green;
	margin-right: 0.3em;
	@include typography.responsive-font-size(1rem, 0.75rem);
}

.closed {
	color: colors.$base-color-dark-grey;
}

.opening-hour {
	white-space: nowrap;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	text-align: end;
	max-width: 8.8em;

	span:nth-child(odd) {
		min-width: 48%;
	}
}
